In [48]:
import pandas as pd
import numpy as np
d1 = [10, 20, 30, 40, 50]
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

# 수정

In [15]:
print(sr, '\n')
sr[0] = 100
sr['aa'] = 100
print(sr)

aa    100
bb    100
cc    100
dd    100
ee     50
Name: 국어점수, dtype: int64

aa    100
bb    100
cc    100
dd    100
ee     50
Name: 국어점수, dtype: int64

In [21]:
print(sr)
sr[1:4] = 200
sr['bb':'dd'] = 200
sr.iloc[1:4] = 200
sr.loc['bb':'dd'] = 200
print(sr)

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64
aa     10
bb    200
cc    200
dd    200
ee     50
Name: 국어점수, dtype: int64

In [25]:
print(sr)
sr[1:4] = sr[1:4] + 2
print(sr)

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64
aa    10
bb    22
cc    32
dd    42
ee    50
Name: 국어점수, dtype: int64

In [28]:
# 30이상인 데이터에 5를 더한 값으로 수정하시오
sr[sr>=30] = sr[sr>=30] + 5
print(sr)

aa    10
bb    20
cc    35
dd    45
ee    55
Name: 국어점수, dtype: int64

### 추가

In [34]:
sr.loc['ff']= 60 # index가 있으면 수정 없으면 추가
sr

aa    10
bb    20
cc    30
dd    40
ee    50
ff    60
Name: 국어점수, dtype: int64

In [37]:
sr.append( pd.Series( [70,80,90], index = ['gg', 'hh', 'ii']) )

aa    10
bb    20
cc    30
dd    40
ee    50
ff    60
gg    70
hh    80
ii    90
dtype: int64

# 삭제

In [50]:
# sr.drop( 부여된 인덱스명 )
# sr.drop(['aa', 'dd'])

# inplace false면 assign 해줘야 시리즈에 반영됨.
# inplace true 바로 시리즈에 반영됨.
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
sr.drop(['aa', 'dd'], inplace = True)
print(sr)

bb    20
cc    30
ee    50
Name: 국어점수, dtype: int64

In [64]:
# 25 이상인 데이터 삭제하시오
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
print(sr, '\n')
sr = sr.drop(sr[sr>=25].index)
print(sr)

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

aa    10
bb    20
Name: 국어점수, dtype: int64

# 정렬

In [70]:
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
sr[1] = 100
# 값 기반 정렬
# ascending parameter : True 오름차순, false 내림차순
print(sr.sort_values(ascending=False), '\n')

# 영어, 한글 지원.
print(sr.sort_index(ascending=False), '\n')

bb    100
ee     50
dd     40
cc     30
aa     10
Name: 국어점수, dtype: int64

ee     50
dd     40
cc     30
bb    100
aa     10
Name: 국어점수, dtype: int64

In [71]:
d1 = ['홍길동', '이순신', '김철수', '김순이', '이홍김']
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
print(sr)

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

데이터가 문자열인 경우 검색은 str 속성을 이용한다.
- sr.str # 문자열 데이터 처리 속성
- sr.index.str #인덱스 문자열 데이터 처리 속성

# 문자열 인덱싱 슬라이싱

In [75]:
sr.str[-1]

aa    동
bb    신
cc    수
dd    이
ee    김
Name: 국어점수, dtype: object

In [107]:
print(sr.str[1:])

print(sr.index.str[:])

aa      길동
bb      순신
cc    리즈철수
dd    리즈순이
ee    홍시리즈
Name: 국어점수, dtype: object
Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')