### 문자열 데이터 검색(정규식 패턴이용)
정규 표현식 메타기호 : .^$*+?{}[]

# 검색 Contatins

In [11]:
import pandas as pd
import numpy as np
type(sr.str)

pandas.core.strings.accessor.StringMethods

In [85]:
sr[sr.str.contains("김")]

cc    김철수
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

In [87]:
sr[sr.str.contains('^김')]

cc    김철수
dd    김순이
Name: 국어점수, dtype: object

In [89]:
sr[sr.str.contains('김$')] # $ 끝메타기호

ee    이홍김
Name: 국어점수, dtype: object

In [90]:
sr[sr.str.contains('[홍이]')] # 홍 또는 이 둘중 하나

aa    홍길동
bb    이순신
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

In [91]:
sr[sr.str.contains('[홍이]순')] # 홍 또는 이 둘중 하나

bb    이순신
Name: 국어점수, dtype: object

In [92]:
sr[sr.str.contains('길동|순이|이홍')]

aa    홍길동
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

In [94]:
# 이 or 순 1 회이상 반복
sr[sr.str.contains('[이순]+')]

bb    이순신
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

In [96]:
# 한글이 1회 이상 반복 + 김
# [a-z] [a-zA-Z]
sr[sr.str.contains('[가-힇]+김')]

ee    이홍김
Name: 국어점수, dtype: object

# 문자열 바꾸기 (replace)

In [100]:
d1 = ['홍길동', '이순신', '김철수', '김순이', '이홍김']
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")

print(sr, '\n')
sr = sr.replace('김철수', '시리즈')
print(sr)

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

aa    홍길동
bb    이순신
cc    시리즈
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

In [102]:
d1 = ['홍길동', '이순신', '김철수', '김순이', '이홍김']
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
print(sr, '\n')

sr = sr.str.replace('김', '시리즈')
print(sr)

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    이홍김
Name: 국어점수, dtype: object

aa      홍길동
bb      이순신
cc    시리즈철수
dd    시리즈순이
ee    이홍시리즈
Name: 국어점수, dtype: object

# 추출하기 (extract)

In [8]:
d1 = ['홍길동', '이순신', '김철수', '김순이', '이홍김']
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
sr.str.extract('(김)([가-힇]+)')

      0    1
aa  NaN  NaN
bb  NaN  NaN
cc    김   철수
dd    김   순이
ee  NaN  NaN

In [10]:
sr[sr.index.str.contains('a')]

aa    홍길동
Name: 국어점수, dtype: object