In [1]:
import pandas as pd
import numpy as np

obj = pd.Series([4, 7, -5, 3])
print(obj)
print(obj.values)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]

In [10]:
obj = pd.Series([4, 7, -5, 3], index = ['a', 'b', 'a', 'c'])
print(obj)
print(obj['a'])
obj['d'] = 6
print(obj[['c', 'a', 'd']])

print(obj > 0)
print(obj[obj > 0])
print(obj * 2)
print(np.exp(obj))

a    4
b    7
a   -5
c    3
dtype: int64
a    4
a   -5
dtype: int64
c    3
a    4
a   -5
d    6
dtype: int64
a     True
b     True
a    False
c     True
d     True
dtype: bool
a    4
b    7
c    3
d    6
dtype: int64
a     8
b    14
a   -10
c     6
d    12
dtype: int64
a      54.598150
b    1096.633158
a       0.006738
c      20.085537
d     403.428793
dtype: float64

In [12]:
sdata = {'Ohoi': 350000, 'Texas':710000, 'Oregon' : 6000, 'Jtan':5000}
obj = pd.Series(sdata)
print(obj)

Ohoi      350000
Texas     710000
Oregon      6000
Jtan        5000
dtype: int64

In [18]:
# pandas dataFrame
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(6).reshape(2, 3),
                    index = ['first', 'second'],
                    columns = ['one', 'two', 'three'])
print(frame)

data = {'state' : ['Ohio', 'Ohio', 'Ohoi', 'Nevada', 'Nevada', 'Nevada'],
       'year' : [2000, 2001, 2002, 2001, 2002, 2003],
       'pop' : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
print(pd.DataFrame(data, columns=['year', 'state', 'pop']))

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop'], 
                     index = ['one', 'two', 'three', 'four', 'five', 'six'])
print('\n')
print(frame2 , '\n')
print(frame2.columns , '\n')
print(frame2['state'], '\n')
print(frame2.year, '\n')
print(frame2.loc['three'], '\n')

        one  two  three
first     0    1      2
second    3    4      5
   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohoi  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2


       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohoi  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
six    2003  Nevada  3.2

Index(['year', 'state', 'pop'], dtype='object')

one        Ohio
two        Ohio
three      Ohoi
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

year     2002
state    Ohoi
pop       3.6
Name: three, dtype: object

In [19]:
# 인덱싱

import pandas as pd
import numpy as np


obj = pd.Series([4,2,6,9], index=list('abcd'))
print(obj)
print(obj['b'], '\n')
print(obj[1], '\n')
print(obj[1:3], '\n') # 3번째 데이터 포함 X
print(obj['b':'c'], '\n') # 'c' 데이터 포함

a    4
b    2
c    6
d    9
dtype: int64
2

2

b    2
c    6
dtype: int64

b    2
c    6
dtype: int64

In [33]:
# data frame
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4, 4),
                    index = ['Ohoi', 'Colorrado', 'utah', 'NewYork'],
                    columns = ['one', 'two', 'three', 'four'])
print('1\n', frame)

print('2\n', frame.iloc[2, [3,0,1]])

print('3\n', frame.iloc[:,:3])

print(frame.three)

print('4\n', frame.iloc[:, :3][frame.three > 5])

1
            one  two  three  four
Ohoi         0    1      2     3
Colorrado    4    5      6     7
utah         8    9     10    11
NewYork     12   13     14    15
2
 four    11
one      8
two      9
Name: utah, dtype: int32
3
            one  two  three
Ohoi         0    1      2
Colorrado    4    5      6
utah         8    9     10
NewYork     12   13     14
Ohoi          2
Colorrado     6
utah         10
NewYork      14
Name: three, dtype: int32
4
            one  two  three
Colorrado    4    5      6
utah         8    9     10
NewYork     12   13     14