In [3]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.arange(12).reshape((3,4)), 
                  columns=list('abcd'))

df2 = pd.DataFrame(np.arange(20).reshape((4,5)),
                   columns=list('abcde'))

print('1\n', df1)

print('2\n', df2)

# 일반적인 연산방법은 모자란 부분을 nan 으로 채움

print('3\n', df1 + df2)

# 비어있는 값이 있는 경우 0으로 채워라
print('4\n', df1.add(df2, fill_value=0))

1
    a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
2
     a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
3
       a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
4
       a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [4]:
import numpy as np
import pandas as pd

obj = pd.Series(np.arange(4), index=list('dadc'))
print(obj)
print(obj.sort_index())

frame = pd.DataFrame(np.arange(8).reshape(2,4),
                    index=['three', 'one'],
                    columns=list('dabc'))

print('1\n', frame)
# key 행 정렬 오름차순
print('2\n', frame.sort_index(axis=1)) 

# key 행 정렬 내림차숨
print('3\n', frame.sort_index(axis=1, ascending=False))
 
# key 컬럼 정렬 오름차순
print('4\n', frame.sort_index(axis=0))

d    0
a    1
d    2
c    3
dtype: int32
a    1
c    3
d    0
d    2
dtype: int32
1
        d  a  b  c
three  0  1  2  3
one    4  5  6  7
2
        a  b  c  d
three  1  2  3  0
one    5  6  7  4
3
        d  c  b  a
three  0  3  2  1
one    4  7  6  5
4
        d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [6]:
import numpy as np
import pandas as pd

# Sort_value는 value 값을 기준으로 정렬, 이때 축도 같이 이동
obj = pd.Series([4, 7, -5, 3])
print(obj.sort_values())

data = {'b':[4,7,-3,2], 'a':[0, 1, 0, 1]}
frame2 = pd.DataFrame(data)

print('1\n', frame2)

 # 컬럼 'b'  기준으로 오름차순 정렬
print('2\n', frame2.sort_values(by='b'))

# 컬럼 'a' 기준으로 오름차순 정렬 후 값이 같은 경우, b 의 값 기준으로  오름차순으로 정렬
print('3\n', frame2.sort_values(by=['a', 'b']))

2   -5
3    3
0    4
1    7
dtype: int64
1
    b  a
0  4  0
1  7  1
2 -3  0
3  2  1
2
    b  a
2 -3  0
3  2  1
0  4  0
1  7  1
3
    b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [8]:
import pandas as pd
import numpy as np

np.random.seed(12345)
frame = pd.DataFrame(np.random.randn(4, 2),
                     index = list('abcd'),
                     columns = ['one', 'two'])

print('1\n', frame)

frame.sum(axis=0)

1
         one       two
a -0.204708  0.478943
b -0.519439 -0.555730
c  1.965781  1.393406
d  0.092908  0.281746

one    1.334542
two    1.598365
dtype: float64

In [9]:
frame.mean(axis = 1)

a    0.137118
b   -0.537585
c    1.679593
d    0.187327
dtype: float64

In [10]:
frame.describe()

            one       two
count  4.000000  4.000000
mean   0.333636  0.399591
std    1.116452  0.800102
min   -0.519439 -0.555730
25%   -0.283390  0.072377
50%   -0.055900  0.380345
75%    0.561126  0.707559
max    1.965781  1.393406

In [14]:
# 누락 데이터 처리
# dropna : 누락된 데이터가 있는 (로우, 칼럼)을 제외시킨다.
# fillna : 누락된 데이터를 대신할 값을 채움
# isnull  : 누락된 데이터가 있는경우

import pandas as pd
import numpy as np

data = pd.Series([1, np.nan, 3.5, np.nan, 7])
print('1\n', data)

# 누락된 데이터 있는 경우 skip
print('2\n', data.dropna())

np.random.seed(12345)
frame = pd.DataFrame(np.random.randn(7, 3))
frame.iloc[:4, 1] = np.nan
frame.iloc[:2, 2] = np.nan
print('3\n', frame)

print('4\n', frame.fillna(0))

1
 0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64
2
 0    1.0
2    3.5
4    7.0
dtype: float64
3
           0         1         2
0 -0.204708       NaN       NaN
1 -0.555730       NaN       NaN
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741
4
           0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741