In [ ]:
- 에디트모드(연두색) : 실행 (ctrl + enter) , tab(자동완성), shift + tab (아규먼트)
ctrl + / (주석), esc(커맨드모드 전환), 

- 커맨드모드(하늘색) : enter(에디트모드), a(위의 셀 추가), b(아래 셀 추가)
    , x(셀삭제) , z(삭제복원), o(결과값을 접었다 폈다.), y(코드셀), m(주석셀)

In [122]:
print('hello')

hello

In [123]:
print()

# 제목1
## 제목2
### 제목3

이건주석이얌얌 마크다운이얌
<h1> 제목4 </h1>

print('hello')

In [ ]:
# 명명규칙  : a-z , A-Z, 0-9, 한글,

In [21]:
a = 10
b = 20

In [18]:
print(a)

10

In [ ]:
데이터타입-연산자-제어문-반복문-함수

In [24]:
#  데이터 타입 : 정수, 실수, boolean
#  데이터 타입 : 문자열, 리스트, 튜플, 딕셔너리

#  데이터 타입

# 
a = 10
b = 123124235235235123123123123123123123
print (a)
print (b)
print(type(a))
print(type(b))

10
123124235235235123123123123123123123
<class 'int'>
<class 'int'>

## 실수타입

In [28]:
f = 3.14
g = 3.141592e3
h = 3.141592e-3
print(h)
print(f)
print(g)
print(type(f))
print(type(g))

0.003141592
3.14
3141.592
<class 'float'>
<class 'float'>

## boolean 타입

In [ ]:
b = True
print(b)
print(type(b))

## 문자열 타입

In [38]:
s1 = 'abc\
def'
s2 = "abc\
def"
s3 = '''abc
def'''
s4 = """abc
def"""
print(s1)
print(s2)
print(s3)
print(s4)
print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))

abc def
abc def
abc
def
abc
def
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## 리스트 타임

In [40]:
my = [10, 20, 30, 40, 50] #mutable(추가, 수정, 삭제)
print(my)
print( type(my))

[10, 20, 30, 40, 50]
<class 'list'>

## 튜플 타입

In [41]:
t = (10, 20, 30, 40) #immutable (수정불가)
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

## 딕셔너리타입

In [42]:
d = {'aa':10, 'bb':20, 'cc':30}
print(d)
print(type(d))

{'aa': 10, 'bb': 20, 'cc': 30}
<class 'dict'>

### 산술연산자
우선순위 <br>
1번째 ** <br>
2번째 / 몫// 나머지% <br>
3번째 + - <br>

a = 5
rst = a // 2
kst = a / 2
jst = a % 2
rst2 = 3+2*2**(4-1)
print(rst2)
print(rst)
print(kst)
print(jst)

# 관계 연산자 : >, <=, <, <=, ==, !=

In [52]:
a = 5
rst = a > 0
rst = a==0
rst = 0 < a < 10
print(rst)

True

# 논리연산자 : and, or, not

In [54]:
a = 5
rst = a > 0 and a == 0 # 모두 True : True
rst = a > 0 or a == 0 # 모두 false : False
rst = not a > 0
print(rst)

False

### 3항 연산자 : True 인 경우 if 조건 else False 인 경우 값

조건 ? True 경우 값 : Flase 인 경우 값

In [57]:
a = -5
rst = 100 if a > 0 else 200 # a > 0 ? 100 : 200
print( rst )

200

## 제어문

- if
- switch(지원하지 않음)

In [58]:
a = 5
if a > 0:
    print('크다')
elif a == 0:
    print('같다')
else:
    print('나머지')

크다

반복문
- while
- for
- do~while(지원X)

In [60]:
a = 1
while a<=5:
    print(a)
    a += 1

1
2
3
4
5

In [61]:
#for 변수 in 복합 데이터타입
for n in [10,20,30,40]:
    print(n)

10
20
30
40

### 함수

In [74]:
def hap(a,b):
    return a+b
def fn():
    print('fn call')
def fn1():
    return 10,20

def fn2(a=10, b=20, c=30):
    print(a, b, c)
    
rst = fn1()
print(rst)
   
fn()
print (hap(5, 3))
fn2()
fn2(100)
fn2(100,200)
fn2(b=1000)

(10, 20)
fn call
8
10 20 30
100 20 30
100 200 30
10 1000 30

In [93]:
a = 10
b = 100
print(id(a))
print(id(b))
c = 10
print(id(c))

139767765308864
139767765311744
139767765308864

In [94]:
my = [10, 20, 30]
my1 = my
print(id(my))
print(id(my1))

139767433614592
139767433614592

In [104]:
def fn(aa):
    aa = 200
    # 200이란 새로운 값이 할당되어 aa는 다른 객체를 가르킴
    print(aa)
    
b = 100
fn(b)
print(b) # b라는 객체는 100을 가르키고 있고 100 출력.

200
100

In [125]:
def fn2(bb):
    my[0] = 33
    print(bb)
    
my = [11, 22, 33]
fn2(my)

[33, 22, 33]

In [2]:
import mylib
mylib.hab2(3, 4)
mylib.gob2(3, 4)

12

In [8]:
import mylib as my
my.hab2(3,4)
my.hab2(4,5)

9

In [11]:
from mylib import hab2

print(hab2(3,4))

7