In [29]:
import pandas as pd
import numpy as np
d1 = [10,20,30,40,50]
d2 = (10, 20, 30, 40, 50)
d3 = {'aa':10, 'bb':20, 'cc':30, 'dd':40, 'ee':50}

In [21]:
sr = pd.Series(d1, index = ['a', 'b', 'c', 'd'], name = "국어점수")

print(sr.dtype) # type
print(sr.shape) # row, column count
print(sr.ndim) # dimension
print(sr.size) # count of data
print(len(sr)) # count of data
print(sr.index)

int64
(4,)
1
4
4
Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
# sr.values.ndarray 속성 또는 메소드 numpy array
sr.values

array([10, 20, 30, 40], dtype=int64)

In [22]:
print(sr.values.sum())
print(sr.name)

100
국어점수

In [31]:
sr = pd.Series(d1, index = ['aa', 'bb', 'cc', 'dd', 'ee'], name = "국어점수")
print(sr[0])
print(sr[-1])
print(sr['ee'])

10
50
50

### 복수개의 인덱스

In [32]:
sr[[0, 2, 3]]

aa    10
cc    30
dd    40
Name: 국어점수, dtype: int64

In [34]:
sr[['aa', 'dd', 'ee']]

aa    10
dd    40
ee    50
Name: 국어점수, dtype: int64

### slicing
- zero base slicing [startIndex : endIndex : increment] startIndex <= index < endIndex
- 부여된 index

In [36]:
sr[1:4:1]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [37]:
sr[:-1]

aa    10
bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [39]:
# 부여된 인덱스는 including last index
sr['aa':'cc']

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

iloc 속성 (zero base 고정)

In [42]:
sr.iloc[0]
# sr.iloc['aa'] # error
sr.iloc[1:4] # 123

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [46]:
sr.iloc[[1,3,4]]

bb    20
dd    40
ee    50
Name: 국어점수, dtype: int64

# loc 속성 (부여된 index 기준)

In [49]:
# sr.loc[0] # error
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [50]:
sr.loc['bb':'dd']

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [51]:
sr.loc[['aa', 'cc', 'dd']]

aa    10
cc    30
dd    40
Name: 국어점수, dtype: int64

### loc, iloc 속성이 따로 있는 이유
- index가 숫자면 부여된 inex로 자동 고정

In [66]:
sr.index = [2,3,4,5,6]
print(sr)
print(sr[2])
# sr[-1] : -1이라는 인덱스가 없어서 에러
print('\n')
print(sr.iloc[2]) # 제로 베이스
print('\n')
print(sr.loc[2]) # 부여된 인덱스

2    10
3    20
4    30
5    40
6    50
Name: 국어점수, dtype: int64
10


30


10

In [73]:
print(sr)
print('0 base')
print('\n')
print(sr.iloc[2:4])
print('\n')
print('부여된 index')
print(sr.loc[2:4])

2    10
3    20
4    30
5    40
6    50
Name: 국어점수, dtype: int64
0 base


4    30
5    40
Name: 국어점수, dtype: int64


부여된 index
2    10
3    20
4    30
Name: 국어점수, dtype: int64

###  연산
- 산술, 관계, 논리
- element wise

In [76]:
sr + 2

2    12
3    22
4    32
5    42
6    52
Name: 국어점수, dtype: int64

In [78]:
salary = pd.Series([1000, 2000, 3000, 4000])
salary*(1-0.033)
print(salary)

0    1000
1    2000
2    3000
3    4000
dtype: int64

In [79]:
sr[sr>=30]

4    30
5    40
6    50
Name: 국어점수, dtype: int64

In [81]:
sr[(sr == 20) | (sr == 40)]

3    20
5    40
Name: 국어점수, dtype: int64

In [93]:
sr[(sr>=20) & (sr<=40)]
sr[sr.between(20, 40)]

3    20
4    30
5    40
Name: 국어점수, dtype: int64

In [89]:
sr[~((sr==20) | (sr==40))]
sr[sr.isin([20, 40])]

3    20
5    40
Name: 국어점수, dtype: int64

In [87]:
sr[sr.index == 'aa']

Series([], Name: 국어점수, dtype: int64)

In [91]:
sr[~sr.isin([20, 40, 50])]

2    10
4    30
Name: 국어점수, dtype: int64